RABBITMQ_HOST=213.199.42.57
RABBITMQ_PORT=5672
RABBITMQ_USER=students
RABBITMQ_PASSWORD=clave_curso
RABBITMQ_VHOST=/

NOTIFICATION_CHANNEL=email
EMAIL_FROM=tu_correo@gmail.com
EMAIL_SMTP_HOST=smtp.gmail.com
EMAIL_SMTP_PORT=587
EMAIL_SMTP_USER=tu_correo@gmail.com
EMAIL_SMTP_PASSWORD=contraseña_de_aplicacion_gmail
EMAIL_SMTP_TLS=true
# Opcional: forzar destino (si no, usa email_cliente del consumo)
# EMAIL_TO_OVERRIDE=cliente@ejemplo.com
